<div id='converter'>
  <div id='title'>
    <h1 id='converter-title'>Celsius | Fahrenheit Converter</h1>
  </div>
  <div id='converter-input'>
    <div id='converter-cell-content'>
      <input id='temp' type='text' value='0'>
    </div>
    <div id='type-temperature'> 
      <select>
        <option value="n/a">Temperature</option>
        <option value="cel">Celsius</option>
        <option value="far">Fahrenheit</option>
      </select>
    </div>
  </div><div id='result'>
    <!-- result output goes here -->
  </div>
</div>